html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}
#root {
  height: 100%;
}
a {
  text-decoration: none;
  transition: all 250ms ease-in;
}
a:hover {
  color: rgb(185, 111, 37);
}
.container-grid {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header {
  background-color: rgb(245, 186, 26);
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}
.brand-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
}
.brand-name a {
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 0.5rem;
}
.header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  padding-right: 10px;
}
.header-links a {
  color: white;
  text-decoration: none;
  font-size: 1.75rem;
}
.header-links a:hover,
.header-links a.active {
  color: rgb(117, 70, 9);
}
.main {
  grid-area: main;
}
.footer {
  color: white;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 32, 32);
}

/* Home */
.items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}
.items li {
  flex: 0 1 34rem;
  padding: 0;
  margin: 1rem;
  height: 50rem;
  border-bottom: 1rem #adadad;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.item-image {
  max-width: 34rem;
  max-height: 34rem;
}
.item-name a {
  font-size: 1.75rem;
  text-decoration: none;
}
.item-brand {
  font-size: 1.2rem;
  font-weight: bold;
  color: #5f5e5e;
}
.item-price {
  font-size: 1.5rem;
  font-weight: bold;
}
.item-ratings {
  padding: 5px 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(153, 151, 151);
  font-size: 1.2rem;
}

/* Sidebar */
.brand-name button {
  background: none;
  color: white;
  font-weight: bold;
  font-size: 1.75rem;
  cursor: pointer;
  border: hidden;
  border: 1px solid white;
  border-radius: 5px;
  padding-top: 0;
}
.sidebar {
  position: fixed;
  width: 20rem;
  margin-top: 5rem;
  transform: translateX(-30rem);
  background-color: #adadad;
  height: 70%;
  border-bottom-right-radius: 5px;
  transition: 300ms ease-in-out;
}
.sidebar button {
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
  border-radius: 5px;
  border: 1px solid black;
  padding-top: 0;
}
.sidebar.open {
  transform: translateX(0);
}
.sidebar-header {
  text-align: center;
  margin-left: -25px;
}
.shopping-category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  height: 20%;
}
.shopping-category li:hover {
  background-color: #7a7a7a;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.sidebar a {
  color: rgb(36, 34, 34);
}
.sidebar a:hover,
.sidebar a.active {
  color: rgb(15, 15, 15);
}
.signout {
  border-top: 0.1rem rgb(15, 15, 15) solid;
  max-width: 10rem;
  margin-left: 3rem;
  display: flex;
  justify-content: center;
}
.signout a {
  margin-top: 1rem;
}
.signout a:hover,
.signout a.active {
  background-color: #7a7a7a;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Products details */
.go-back {
  padding: 1rem;
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}
.details-image {
  flex: 2 1 60rem;
}
.details-image img {
  max-width: 60rem;
  width: 100%;
}
.details-info {
  flex: 1 1 30rem;
}
.details-action {
  flex: 1 1 30rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  padding: 1rem;
}
.details-info ul,
.details-action ul {
  list-style: none;
  padding: 0;
}
.details-info li,
.details-action li {
  margin-bottom: 1rem;
}
.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #f0f0f0;
  background-color: rgb(185, 111, 37);
}
.button:hover {
  border: 0.1rem #404040 solid;
}

/* Modal and Backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* form */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 32rem;
  padding-right: 2.5rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  margin-top: 0;
}

.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

.form-container li:nth-last-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container li:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

.error {
  color: red;
  max-width: fit-content;
}
