.cart {
  max-width: 30rem;
  background-color: #313131;
  color: white;
}

.cart h2 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.cart-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-header {
  display: flex;
  justify-content: space-between;
}

.close-cart {
  display: flex;
  justify-content: center;
  max-height: 20px;
  width: 15px;
  border: .5px black solid;
  border-radius: 0.25rem;
  background-color: #999696;
  cursor: pointer;
}

.total {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.total div:first-child {
  border: 0.5px solid black;
  width: 80%;
}

.total div:last-child {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.checkout {
  height: 5rem;
  background-color: #c5c5c5;
  border: 1px #f0f0f0 solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout button {
  max-height: 3rem;
  display: flex;
  justify-content: center;align-items: center;
  padding: 1rem;
  border: .1rem #808080 solid;
  border-radius: 2.5px;
  cursor: pointer;
  color: #f0f0f0;
  background-color: rgb(185, 111, 37)
}
.checkout button:hover {
  border: .1rem #404040 solid;
}